@import "../../index.scss";

.content__container {
  width: 85%;
  height: 100vh;
  padding: $padding-medium;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400% !important;
  animation: animatedGradient 7.5s ease infinite;

  &-load {
    text-align: center;
    margin-top: $margin-extra-big;

    &-item {
      font-size: 1.8rem;
      padding: $padding-input $padding-small;
      letter-spacing: $letter-small;
      word-spacing: $word-medium;
      border-radius: $rounded-medium;
      outline: none;
      border: 0.25rem solid $color-secondary;
      box-shadow: $box-shadown-small;
      background-color: $color-secondary;
      color: $color-main;
      cursor: pointer;
      transition: all 0.75s;
      text-decoration: none;

      &:hover {
        background-color: $color-main;
        border: 0.25rem solid $color-main;
        color: #845ef7;
        transform: scale(1.15);
      }
    }
  }
}

// Scrollbar

.content__container::-webkit-scrollbar {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #0f0c29;
}

.content__container::-webkit-scrollbar-thumb {
  background-color: $color-secondary;
  border-radius: 0.6rem;
}

.content__container::-webkit-scrollbar-thumb:hover {
  background-color: #845ef7;
}

.content__container::-webkit-scrollbar-track {
  background-color: #0f0c29;
}
