@import "../../index.scss";

.navigation {
  width: 100%;
  height: 7.75rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-main; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    $color-main,
    $color-secondary
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    $color-main,
    $color-secondary
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: $font-poppins;
  padding: 0 $padding-big;
  // filter: drop-shadow(0.25rem 0.25rem 1.25rem $color-black);
  box-shadow: $box-shadown-big;
  z-index: 10;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-extra-big;
    font-weight: $font-regular;
    color: #845ef7;
    text-shadow: 0 0.32rem 0.32rem $color-main;

    span {
      color: $color-main;
      font-weight: $font-regular;
    }
  }
}

.details__container {
  display: flex;
  flex-direction: column;
  color: rgb(179, 148, 41);

  &-bg {
    height: 100vh;
    background-color: #ced4da;
  }

  &-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 55rem;
    filter: drop-shadow(1rem 0.25rem 1.25rem $color-black);
  }

  &-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }

  &-watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &-image {
      width: 27.5rem;
      height: 40rem;
      filter: drop-shadow(0.025rem 0.25rem 0.45rem $color-black);
    }

    &-button {
      background-color: transparent;
      border: 0.25rem solid $color-white;
      padding: $padding-input $padding-medium;
      border-radius: $rounded-medium;
      font-size: $font-medium;
      font-weight: $font-semi-bold;
      letter-spacing: $letter-small;
      word-spacing: $word-medium;
      cursor: pointer;
      color: $color-white;
      box-shadow: $box-shadown-small;
      transition: all 0.75s;

      &:hover {
        transform: translateY(-0.4rem);
        box-shadow: $box-shadown-big;
        scale: 1.05;
        background-color: rgba($color-white, 0.15);
      }
    }
  }

  &-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: $font-poppins;
    margin-bottom: $margin-extra-big;

    &-name {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      &-title {
        font-size: $font-extra-big;
        font-weight: $font-semi-bold;
        color: $color-white;
        letter-spacing: $letter-medium;
        word-spacing: $word-medium;
      }

      &-year {
        font-size: $font-medium;
        font-weight: $font-regular;
        color: #dee2e6;
        letter-spacing: $letter-small;
        word-spacing: $word-small;
      }
    }

    &-type {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.65rem;
      margin-bottom: $margin-small;

      &-about {
        font-size: $font-medium;
        font-weight: $font-regular;
        color: $color-white;
        letter-spacing: $letter-medium;
      }

      &-duration {
        font-size: $font-small;
        font-weight: $font-regular;
        color: #dee2e6;
        letter-spacing: $letter-small;
      }
    }

    &-score {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.65rem;

      &-users {
        font-size: $font-small;
        font-weight: $font-regular;
        color: #dee2e6;
        letter-spacing: $letter-small;
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $padding-extra-small;
        font-size: $font-small;
        border-radius: $rounded-big;
        border: none;
        outline: none;
        color: $color-white;
        background-color: #1e282f;
        margin-left: $margin-small;
        filter: drop-shadow(0.35rem 0.35rem 1.35rem $color-black);
        cursor: pointer;
        transition: all 0.75s;

        &:hover {
          background-color: rgba(#1e282f, 0.85);
          scale: 1.075;
        }
      }
    }

    &-presentation {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: $margin-small;
      gap: 0.65rem;

      &-title {
        font-size: $font-medium;
        font-weight: $font-regular;
        color: $color-white;
        letter-spacing: $letter-medium;
      }

      &-description {
        font-size: $font-small;
        font-weight: $font-regular;
        color: #dee2e6;
        letter-spacing: $letter-small;
        width: 80rem;
      }
    }

    &-cast {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: $margin-small;
      gap: 2.8rem;

      &-director {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.65rem;
        width: 47.5rem;

        &-title {
          font-size: $font-medium;
          font-weight: $font-regular;
          color: $color-white;
          letter-spacing: $letter-medium;
        }

        &-subtitle {
          font-size: $font-small;
          font-weight: $font-regular;
          color: #dee2e6;
          letter-spacing: $letter-small;
        }
      }

      &-writters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.65rem;
        width: 47.5rem;

        &-title {
          font-size: $font-medium;
          font-weight: $font-regular;
          color: $color-white;
          letter-spacing: $letter-medium;
        }

        &-subtitle {
          font-size: $font-small;
          font-weight: $font-regular;
          color: #dee2e6;
          letter-spacing: $letter-small;
        }
      }
    }
  }
}

.movieDetails__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  margin-top: 5rem;
  font-family: $font-poppins;

  &-fav,
  &-status,
  &-language,
  &-budget,
  &-income {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.65rem;
    width: 15rem;

    &-title {
      font-size: 1.8rem;
      font-weight: $font-semi-bold;
      color: $color-black;
      letter-spacing: $letter-small;
      word-spacing: $word-small;
    }

    &-subtitle {
      font-size: 1.5rem;
      color: $color-black;
      letter-spacing: $letter-small;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: $color-black;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.75s;
      letter-spacing: $letter-medium;
      border-bottom: 0.25rem solid #1e282f;

      &:hover {
        scale: 1.075;
        color: #1e282f;
      }
    }
  }
}

//

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}

.iframe-container {
  position: relative;
  width: 80%; /* adjust the width as needed */
  height: 0;
  padding-bottom: 56.25%; /* set the aspect ratio to 16:9 */
  overflow: hidden;

  iframe {
    position: absolute;
    top: 12.5%;
    left: 0;
    width: 100%;
    height: 70%;
  }
}

.close-btn {
  position: absolute;
  top: 25%;
  left: 12%;
  font-size: 30px;
  color: red;
  cursor: pointer;
  z-index: 9999; /* ensure the close button is on top of the iframe */
}

//

.outer__ring {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #1e282f;
}

.user_score_chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.user_score_chart canvas {
  position: absolute;
  top: 0.495rem;
  left: 0.5rem;
  width: 5rem;
  height: 5rem;
  z-index: 1;
}

.percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: $color-white;
  font-size: $font-small;
}
