@import "../../index.scss";

.reviews__container {
  padding: $padding-extra-big;

  &-title {
    font-family: $font-poppins;
    margin-bottom: $margin-big;
    font-size: $font-extra-big;
    color: $color-secondary;
    letter-spacing: $letter-medium;
    text-align: center;
  }
}

.slide {
  background: $color-main; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    $color-main,
    $color-main,
    rgba(48, 43, 99, 0.05),
    $color-main,
    $color-main,
    #302b63
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    $color-main,
    $color-main,
    rgba(48, 43, 99, 0.05),
    $color-main,
    $color-main,
    #302b63
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 25rem;
  border-radius: $rounded-small;
  color: $color-secondary;
  font-family: $font-poppins;

  &__name {
    text-align: center;
    font-size: $font-medium;
    padding-top: $padding-medium;
    letter-spacing: $letter-small;
    word-spacing: $word-small;
  }

  &__title {
    text-align: center;
    font-size: $font-big;
    padding-bottom: $padding-medium;
    letter-spacing: $letter-small;
    word-spacing: $word-medium;
  }

  &__description {
    padding: 0 $padding-small;
    font-size: $font-small;
    line-height: 1.8;
    letter-spacing: $letter-medium;
    word-spacing: $word-big;
  }
}

.slick-slide {
  padding: 0 $padding-medium;
}
