@import "../../index.scss";

.packages__container {
  display: flex;
}

.packages__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400% !important;
  animation: animatedGradient 7.5s ease infinite;
  padding: $padding-big;

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background: transparent;
    margin-bottom: $margin-extra-big;
  }
}

.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $color-main; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    $color-main,
    $color-main,
    rgba(48, 43, 99, 0.05),
    $color-main,
    $color-main,
    #302b63
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    $color-main,
    $color-main,
    rgba(48, 43, 99, 0.05),
    $color-main,
    $color-main,
    #302b63
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: $padding-big;
  box-shadow: $box-shadown-medium;
  font-family: $font-poppins;
  width: 27.5rem;
  height: 37.5rem;
  border-radius: $rounded-extra-small;

  &-tag {
    text-transform: uppercase;
    color: $color-secondary;
    letter-spacing: $letter-medium;
    font-weight: $font-semi-bold;
    font-size: $font-big;
    filter: drop-shadow(1.25rem 1.25rem 1.15rem $color-black);
    margin-bottom: $margin-medium;
  }

  &-price {
    color: $color-secondary;
    font-size: $font-medium;
    letter-spacing: $letter-big;
    word-spacing: $word-big;
    font-weight: $font-bold;

    span {
      color: #845ef7;
      font-size: $font-small;
      letter-spacing: $letter-big;
      font-weight: $font-semi-bold;
    }
  }

  &-line {
    content: "";
    display: block;
    background: $color-secondary;
    width: 100%;
    height: 0.15rem;
    box-shadow: $box-shadown-big;
    margin: $margin-small 0;
  }

  &-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &-quality {
    font-size: $font-small;
    letter-spacing: $letter-small;
    color: #845ef7;

    span {
      font-size: $font-medium;
      font-weight: $font-bold;
      color: $color-secondary;
      letter-spacing: $letter-medium;
      filter: drop-shadow(1.25rem 1.25rem 1.35rem $color-black);
    }
  }

  &-devices {
    font-size: $font-small;
    letter-spacing: $letter-small;
    color: #845ef7;

    span {
      font-size: $font-medium;
      font-weight: $font-bold;
      color: $color-secondary;
      letter-spacing: $letter-medium;
      filter: drop-shadow(1.25rem 1.25rem 1.35rem $color-black);
    }
  }

  &-support {
    font-size: $font-small;
    letter-spacing: $letter-small;
    color: #845ef7;

    span {
      font-size: $font-medium;
      font-weight: $font-bold;
      color: $color-secondary;
      letter-spacing: $letter-medium;
      filter: drop-shadow(1.25rem 1.25rem 1.35rem $color-black);
    }
  }

  &-buybtn {
    font-size: 1.8rem;
    padding: $padding-input $padding-small;
    letter-spacing: $letter-small;
    word-spacing: $word-medium;
    border-radius: $rounded-medium;
    outline: none;
    border: 0.25rem solid $color-secondary;
    box-shadow: $box-shadown-small;
    background-color: $color-secondary;
    color: $color-main;
    cursor: pointer;
    transition: all 0.75s;
    text-decoration: none;
    margin-top: $margin-small;

    &:hover {
      background-color: $color-main;
      border: 0.25rem solid $color-main;
      color: #845ef7;
      transform: scale(1.15);
    }

    &::selection {
      background-color: #845ef7;
      color: $color-main;
    }
  }
}

//

.buy__container-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color-black, 0.25);
  display: grid;
  place-content: center;
}

.buy__container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($color-main, 0.8);
  width: 72.5rem;
  height: 55rem;
  position: relative;
  box-shadow: $box-shadown-small;
  border-radius: $rounded-extra-small;

  &-closebtn {
    border: none;
    outline: none;
    font-weight: $font-bold;
    font-size: $font-big;
    color: $color-secondary;
    background: transparent;
    cursor: pointer;
    filter: drop-shadow(0 0.1rem 0.15rem $color-black);
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  &-title {
    font-size: $font-medium;
    letter-spacing: $letter-medium;
    word-spacing: $word-small;
    margin-bottom: $margin-medium;
    color: $color-secondary;
    filter: drop-shadow(0 0.1rem 0.15rem $color-black);
  }

  &-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
      font-size: $font-small;
      letter-spacing: $letter-small;
      word-spacing: $word-small;
      color: $color-secondary;
      margin-bottom: $margin-small;
    }

    input {
      background-color: transparent;
      font-size: $font-small;
      outline: none;
      border: none;
      border-bottom: 0.25rem solid #845ef7;
      border-left: 0.25rem solid #845ef7;
      width: 21.5rem;
      margin-bottom: $margin-medium;
      color: $color-secondary;
      font-weight: $font-semi-bold;
      letter-spacing: $letter-small;
      padding: $padding-input;
    }

    &-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      label {
        font-size: $font-small;
        letter-spacing: $letter-small;
        word-spacing: $word-small;
        color: $color-secondary;
        margin-bottom: $margin-small;
      }

      input {
        background-color: transparent;
        font-size: $font-small;
        outline: none;
        border: none;
        border-bottom: 0.25rem solid #845ef7;
        border-left: 0.25rem solid #845ef7;
        width: 21.5rem;
        margin-bottom: $margin-medium;
        color: $color-secondary;
        font-weight: $font-semi-bold;
        letter-spacing: $letter-small;
        padding: $padding-input;
      }
    }
  }

  &-line {
    content: "";
    display: block;
    background: $color-secondary;
    width: 85%;
    height: 0.15rem;
    box-shadow: $box-shadown-big;
    margin-bottom: $margin-medium;
  }

  &-cardData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.4rem;
  }

  &-submitBtn {
    font-size: 1.8rem;
    padding: $padding-input $padding-small;
    letter-spacing: $letter-small;
    word-spacing: $word-medium;
    border-radius: $rounded-medium;
    outline: none;
    border: 0.25rem solid $color-secondary;
    box-shadow: $box-shadown-small;
    background-color: $color-secondary;
    color: $color-main;
    cursor: pointer;
    transition: all 0.75s;
    text-decoration: none;
    margin-top: $margin-small;

    &:hover {
      background-color: $color-main;
      border: 0.25rem solid $color-main;
      color: #845ef7;
      transform: scale(1.15);
    }

    &::selection {
      background-color: #845ef7;
      color: $color-main;
    }
  }
}

.validation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: $margin-small;

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-medium;
    gap: 0.65rem;
    color: $color-secondary;
    margin-bottom: $margin-small;

    &-icon {
      font-size: $font-big;
    }
  }

  &-buttonsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;

    &-package {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.65rem;
      font-size: 1.8rem;
      padding: $padding-input $padding-medium;
      letter-spacing: $letter-small;
      word-spacing: $word-medium;
      border-radius: $rounded-medium;
      outline: none;
      border: 0.25rem solid $color-secondary;
      box-shadow: $box-shadown-small;
      background-color: $color-secondary;
      color: $color-main;
      cursor: pointer;
      transition: all 0.75s;
      text-decoration: none;

      &:hover {
        background-color: $color-main;
        border: 0.25rem solid $color-main;
        color: #845ef7;
        transform: scale(1.15);
      }

      &::selection {
        background-color: #845ef7;
        color: $color-main;
      }
    }

    &-cancel {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.65rem;
      font-size: 1.8rem;
      padding: $padding-input $padding-medium;
      letter-spacing: $letter-small;
      word-spacing: $word-medium;
      border-radius: $rounded-medium;
      outline: none;
      border: 0.25rem solid $color-secondary;
      box-shadow: $box-shadown-small;
      background-color: $color-secondary;
      color: $color-main;
      cursor: pointer;
      transition: all 0.75s;
      text-decoration: none;

      &:hover {
        background-color: $color-main;
        border: 0.25rem solid $color-main;
        color: #845ef7;
        transform: scale(1.15);
      }

      &::selection {
        background-color: #845ef7;
        color: $color-main;
      }
    }
  }
}
